<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <title>{{title}}</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Get your weather!</p>

            <form action="">
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>

            <h4 id="message-1"></h4>
            <p id="message-2"></p>
        </div>
        <script src="/scripts/app.js"></script>
        {{>footer}}
    </body>
</html>

